# <div style="color:white;display:fill;border-radius:5px;background-color:#0E2031;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Preprocessing</p></div>     
   
- **Data Preprocessing** 
    - Libraries
    - Configurations
    - Loading Data
    - Missing Data
    - Duplicated Values
    - Data Types
    - Strange Values
    - Feature Engineer

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Libraries</p></div>

In [1]:
# Basic Tools
import numpy as np
import pandas as pd
from datetime import datetime as dt

# Convert Alpha3 Countries to Country Name and Continents
import pycountry
import pycountry_convert as pc

# File/ OS Tools
import os
import sys
from watermark import watermark

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Configurations</p></div>

In [2]:
print(watermark())

Last updated: 2023-06-26T10:45:35.592494-03:00

Python implementation: CPython
Python version       : 3.10.6
IPython version      : 8.5.0

Compiler    : GCC 11.3.0
OS          : Linux
Release     : 5.19.0-45-generic
Machine     : x86_64
Processor   : x86_64
CPU cores   : 12
Architecture: 64bit

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Loading Data</p></div>

In [3]:
ROOT_DIR = '/home/alysson/projects/Hotel-Booking-Cancelations'

In [4]:
for dirname, _, filenames in os.walk(os.path.join(ROOT_DIR, "data")):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/home/alysson/projects/Hotel-Booking-Cancelations/data/data_processed/data_processed.csv
/home/alysson/projects/Hotel-Booking-Cancelations/data/data_processed/.~lock.data_processed.csv#
/home/alysson/projects/Hotel-Booking-Cancelations/data/data_processed/train/train.csv
/home/alysson/projects/Hotel-Booking-Cancelations/data/data_processed/test/test.csv
/home/alysson/projects/Hotel-Booking-Cancelations/data/data_raw/data_raw.csv.dvc
/home/alysson/projects/Hotel-Booking-Cancelations/data/data_raw/data_raw.csv

In [5]:
DATA_RAW_PATH = os.path.join(ROOT_DIR, "data", "data_raw", "data_raw.csv")

In [6]:
data_raw = pd.read_csv(DATA_RAW_PATH)

In [7]:
data = data_raw.copy()
data.shape

(119390, 32)

In [8]:
data.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [9]:
def pandas_settings():
    pd.options.display.float_format = '{:,.4f}'.format
    pd.set_option('display.expand_frame_repr', False )
    pd.set_option('display.max_columns', 35)
    pd.set_option('display.max_rows', 50)
    

pandas_settings()

In [10]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [11]:
data.head(5)

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  stays_in_weekend_nights  stays_in_week_nights  adults  children  babies meal country market_segment distribution_channel  is_repeated_guest  previous_cancellations  previous_bookings_not_canceled reserved_room_type assigned_room_type  booking_changes deposit_type    agent  company  days_in_waiting_list customer_type     adr  required_car_parking_spaces  total_of_special_requests reservation_status reservation_status_date
0  Resort Hotel            0        342               2015               July                        27                          1                        0                     0       2    0.0000       0   BB     PRT         Direct               Direct                  0                       0                               0                  C                  C                3   No Deposit      NaN      NaN                     0     Transient  0.0000                            0                          0          Check-Out              2015-07-01
1  Resort Hotel            0        737               2015               July                        27                          1                        0                     0       2    0.0000       0   BB     PRT         Direct               Direct                  0                       0                               0                  C                  C                4   No Deposit      NaN      NaN                     0     Transient  0.0000                            0                          0          Check-Out              2015-07-01
2  Resort Hotel            0          7               2015               July                        27                          1                        0                     1       1    0.0000       0   BB     GBR         Direct               Direct                  0                       0                               0                  A                  C                0   No Deposit      NaN      NaN                     0     Transient 75.0000                            0                          0          Check-Out              2015-07-02
3  Resort Hotel            0         13               2015               July                        27                          1                        0                     1       1    0.0000       0   BB     GBR      Corporate            Corporate                  0                       0                               0                  A                  A                0   No Deposit 304.0000      NaN                     0     Transient 75.0000                            0                          0          Check-Out              2015-07-02
4  Resort Hotel            0         14               2015               July                        27                          1                        0                     2       2    0.0000       0   BB     GBR      Online TA                TA/TO                  0                       0                               0                  A                  A                0   No Deposit 240.0000      NaN                     0     Transient 98.0000                            0                          1          Check-Out              2015-07-03

In [13]:
duplicated_rows = data[data.duplicated()]

# Filtrar linhas duplicadas com "leadtime" < 7
df_dup = duplicated_rows[~duplicated_rows["lead_time"] < 15].copy()

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Preprocessing</p></div>

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Missing Data</p></div>

In [14]:
data.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [15]:
nan_replacements = {"children": 0, "agent": 0, "company": 0, "country":"Unknow"}
data = data.fillna(nan_replacements)

**Observações:**

- Are the NaN values because the customer did not inform the nationality when making the reservation or the system was not able to identify the user's nationality?

- Why so many missing values in the Company column?

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Duplicated Data</p></div>

In [16]:
data.duplicated().head(9)#.sum()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
dtype: bool

In [11]:
data = data.drop_duplicates(keep='last')

Duplicate values here are not necessarily a problem. It is possible for example to have reservations for the same type of room on the same day that were booked on the same day. Since we don't have more information if these values refer to the same guest, we'll keep it as it is.

In [17]:
#data.loc[data.duplicated(), :].head()

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Types</p></div>

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  float64
 24  company                         119390 non-null  float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [19]:
data['reservation_status_date'] = pd.to_datetime(data['reservation_status_date'])#, format='%Y/%m/%d'

In [20]:
data = data.astype({"children": int, "agent": int, "company": int})

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Dados Estranhos</p></div>

In [21]:
data.describe().T

                                      count       mean      std        min        25%        50%        75%        max
is_canceled                    119,390.0000     0.3704   0.4829     0.0000     0.0000     0.0000     1.0000     1.0000
lead_time                      119,390.0000   104.0114 106.8631     0.0000    18.0000    69.0000   160.0000   737.0000
arrival_date_year              119,390.0000 2,016.1566   0.7075 2,015.0000 2,016.0000 2,016.0000 2,017.0000 2,017.0000
arrival_date_week_number       119,390.0000    27.1652  13.6051     1.0000    16.0000    28.0000    38.0000    53.0000
arrival_date_day_of_month      119,390.0000    15.7982   8.7808     1.0000     8.0000    16.0000    23.0000    31.0000
stays_in_weekend_nights        119,390.0000     0.9276   0.9986     0.0000     0.0000     1.0000     2.0000    19.0000
stays_in_week_nights           119,390.0000     2.5003   1.9083     0.0000     1.0000     2.0000     3.0000    50.0000
adults                         119,390.0000     1.8564   0.5793     0.0000     2.0000     2.0000     2.0000    55.0000
children                       119,390.0000     0.1039   0.3986     0.0000     0.0000     0.0000     0.0000    10.0000
babies                         119,390.0000     0.0079   0.0974     0.0000     0.0000     0.0000     0.0000    10.0000
is_repeated_guest              119,390.0000     0.0319   0.1758     0.0000     0.0000     0.0000     0.0000     1.0000
previous_cancellations         119,390.0000     0.0871   0.8443     0.0000     0.0000     0.0000     0.0000    26.0000
previous_bookings_not_canceled 119,390.0000     0.1371   1.4974     0.0000     0.0000     0.0000     0.0000    72.0000
booking_changes                119,390.0000     0.2211   0.6523     0.0000     0.0000     0.0000     0.0000    21.0000
agent                          119,390.0000    74.8283 107.1420     0.0000     7.0000     9.0000   152.0000   535.0000
company                        119,390.0000    10.7752  53.9439     0.0000     0.0000     0.0000     0.0000   543.0000
days_in_waiting_list           119,390.0000     2.3211  17.5947     0.0000     0.0000     0.0000     0.0000   391.0000
adr                            119,390.0000   101.8311  50.5358    -6.3800    69.2900    94.5750   126.0000 5,400.0000
required_car_parking_spaces    119,390.0000     0.0625   0.2453     0.0000     0.0000     0.0000     0.0000     8.0000
total_of_special_requests      119,390.0000     0.5714   0.7928     0.0000     0.0000     0.0000     1.0000     5.0000

In [22]:
#No people and reservation status equal to "check-out"
len(data.loc[((data['children'] == 0) & (data['adults'] == 0) & (data['babies'] == 0) & (data['reservation_status'] == 'Check-Out'))])

155

In [23]:
data = data.loc[~((data['children'] == 0) & (data['adults'] == 0) & (data['babies'] == 0) & (data['reservation_status'] == 'Check-Out'))]

In [24]:
#Negative ADR 
data = data.loc[~(data['adr']<0)]
len(data)

119234

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Feature Engineer</p></div>

In [25]:
#Same meaning values according to dictionary source
data['meal'] = data['meal'].replace("Undefined", "SC")

In [26]:
#data["adr_pp"] = data["adr"] / (data["adults"] + data["children"])
data["people"] = (data["adults"] + data["children"] + data["babies"])
data['kids'] = data['children'] + data['babies']
data['days_stay'] = data['stays_in_weekend_nights'] + data['stays_in_week_nights']

In [27]:
def add_country_names(df):
    country_names = []
    for country_code in df['country']:
        try:
            country_name = pycountry.countries.get(alpha_3=country_code).name
        except AttributeError:
            country_name = None
        except LookupError:
            country_name = None
        country_names.append(country_name)
    df['country_name'] = country_names
    return df

In [28]:
def add_continent(df):
    continents = []
    for country in df['country_name']:
        try:
            country_code = pc.country_name_to_country_alpha2(country)
            continent_name = pc.country_alpha2_to_continent_code(country_code)
            continent_code = pc.convert_continent_code_to_continent_name(continent_name)
            continents.append(continent_code)
        except:
            continents.append(None)
    df['continentes'] = continents    

    return df

In [29]:
data = add_country_names(data)
data = add_continent(data)
data.loc[data['country'] == 'PRT', 'continentes'] = 'Native'

In [30]:
nan_replacements = {"children": 0, "agent": 0, "company": 0, "country":"Unknow", "country_name":"Unknow", "continentes":"Unknow"}
data = data.fillna(nan_replacements)

In [31]:
data.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
people                            0
kids                              0
days_stay                         0
country_name                      0
continentes                       0
dtype: int64

In [32]:
data = data.reset_index(drop=True)

In [33]:
data.to_csv(f"{ROOT_DIR}/data/data_processed/data_processed.csv", index=False)

In [44]:
data.customer_type.unique()

array(['Transient', 'Contract', 'Transient-Party', 'Group'], dtype=object)

In [46]:
data.continentes.unique()

array(['Native', 'Europe', 'North America', 'Unknow', 'Asia',
       'South America', 'Oceania', 'Africa'], dtype=object)